.video1{
    width: 350px;
    height:340px;
    padding-right: 30px;
    margin-top: 50px;
    
}
.video2{
    width: 320px;
    height:340px;
    margin-top: 50px;
}
.video3{
    width: 335px;
    height:340px;
    margin-top: 50px;
}
#telefono{
    font-size:x-large
}
.Hobbit{
    text-align: center;
    font-size: 6em;
}
#centro{
    text-align: center;
    margin-top: 50px;
}
#imagenes{
    margin-top: 50px;
    border-radius: 10px;
}
.redes{
    margin-top:50px;
}
#espacio{
    margin-top:50px;
}
.navegacion{
    size: 4em;
}
